/* Variables */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
    --base-font-size: 16px;
}

/* Base Styles */
body {
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    background-color: #ecf0f1;
    color: #34495e;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.75em 0;
}

p {
    margin: 0.5em 0;
}